*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,1.0)),url(border.jpg);
    background-size: 20%;
    background-position: left;
    position: fixed;
}
.navbar{
    width: 100%;
    position: fixed;
    margin: auto;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s;
    border-bottom: white 10px solid;
    background-color: #89cff0;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
} 
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 133%;
    position: absolute;
    top: 85%;
    transform: translateY(-100%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    
}
.content p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #89cff0;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #89cff0;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%
}
button:hover{
    border: none;
}
.side-nav{
    width: 500px;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 15px;
    background: linear-gradient(#89cff0, #ddd);
    display: flex;
    flex-direction: column;
    border-right: #fff 10px solid;
}
.side-nav h3 {
    color: #fff;
    text-align: center; /* Use this instead of align-items for centering text */
    border: 5px solid white;
    display: inline-block; /* To apply border around the text */
    padding: 0px; /* Optional: for some space inside the border */
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto
}
.user h2{
    font-size: 15px;
    white-space: nowrap;
}
.user-img{
    width: 100px;
    border-radius: 100%;
    margin: auto;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}
ul li img{
    width: 30px;
    margin-right: 0px;
}
ul li p{
    white-space: nowrap;
    display: none;
}
.table{
    color: #000;
    width: 93%;
    height: 50%;
    position: absolute;
    top: 15%; /* Decrease this percentage to move the table up */
    transform: translateY(0%); /* Adjust this percentage to fine-tune the vertical positioning */
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    background-color: #fff;
    background: transparent; 
    border-collapse: collapse; 
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #fff;
    text-align: left;
    text-align: center;
    border-color:  rgba(0,0,0,0);
}
.table th {
    background-color: transparent;
}
.contentsub{
    width: 133%;
    position: absolute;
    top: 55%;
    transform: translateY(-100%);
    text-align: center;
    color: #fff;
}
.contentsub h1{
    font-size: 70px;
    margin-top: 80px;
}
