@font-face {
  font-family: 'VTFRedzone-Classic';
  src: url('../fonts/VTFRedzone-Classic.ttf') format('truetype');
}
.container{
  margin: 0;
  padding: 0;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
}
.banner{
  left: 406px;
  margin-top: 130px;
  border-radius: 2%;
  width: 76%;
  height: 100vh; /* This will make sure your banner covers the full viewport height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url('/pathex.avif');
  background-size: 8%;
  background-position: center;
  position: fixed;
  box-shadow: 0px 10px 20px rgba(0,0,0, 30);
  width: calc(78.5%);
}



/* NAVBAR CONTENT */

.navbar {
  width: 100%;
  top: 0;
  right: 0;
  height: 105px;
  position: fixed;
  margin: auto;
  padding: 15px 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
  border-bottom: #68b42b 2px solid;
  box-shadow: 0px 10px 20px rgba(0,0,0, .5);
  background-color: #68b42b;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,.9)), url('/blank.png');
  background-size: 120%;
  z-index: 100;
  font-size: .7em;
}

.navbar p {
  color: black;
  font-size: .75em;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-right: 75px;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding: 20px 80px;
  background: transparent;
  box-shadow: 0 3px 3px rgba(255, 255, 255, .7);
  border: 3px solid white;
  margin-left: 0px; /* Space between items */
} 

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}

.navbar ul li:hover {
  background-color: #68b42b;
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar ul li .dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-left: 4px solid #68b42b; /* Accent color */
  box-shadow: none;
  top: 100%; /* Aligns the dropdown right below the nav item */
  left: 0;
  border-radius: 4px;
  font-size: 1em;
  overflow: hidden; /* Keeps the child elements inside the rounded corners */
  z-index: 20;
  border-top: 1px solid white;
}

.navbar ul li:hover .dropdown {
  display: block;
  z-index: 100;
}

.navbar ul li .dropdown a {
  color: #0b0b0b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #e7e7e7; /* Separator */
  z-index: 20;
  cursor: pointer;
}

.navbar ul li .dropdown a:last-child {
  border-bottom: none; /* Removes border from the last link */
  z-index: 20;
  cursor: pointer;
}

.navbar ul li .dropdown a:hover {
  background-color: #68b42b;
  color: white;
  z-index: 20;
  cursor: pointer;
}

.logo {
  display: inline-block;
  cursor: pointer;
  margin-left: 40px;
}

.logor {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin-right: 40px;
  margin-bottom: 50px;
}

.odds h4 {
  color: #fff;
  margin-left: 15px;
  font-size: .75em;
  margin-top: 25px;
}

/* MAIN CONTENT*/



.content{
  position: absolute;
  top: 15vh; /* Example: Adjust based on your actual navbar height */
  left: 460px; /* Push content to the right to account for sideNav width */
  width: calc(100% - 500px); /* Subtract sideNav width from total width */
  z-index: 1; /* Lower z-index than sideNav so it scrolls under it */
  text-align: center;
  color: #fff;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}
.content h1{
  font-size: 70px;
  margin-top: 55px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0, 1); /* Shadow for 3D effect */
  width: 500px;
  margin-left: 325px;
  border: 1px solid #68b42b;
}
.content p{
  margin: 10px 0 20px;
  font-weight: 100;
  line-height: 25px;
}
.button{
  width: 200px;
  padding: 25px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #68b42b;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.span{
  background: #68b42b;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.button:hover span{
  width: 100%
}
.button:hover{
  border: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.headerContainer h1 {
  align-items: center;
  border: 1px solid #68b42b; 
  background-color: #303030;
  margin-left: calc(42%);
  padding: 10px;
  font-size: 4.5em;
}
.results{
  border-radius: 10%;
  box-shadow: 0 1px 3px rgba(0,0,0, 1); /* Shadow for 3D effect */;
  margin-bottom: 10px;
  width: 200px;
  align-content: center;
  margin-left: 475px;
  border: 1px solid #68b42b;
  background-color: #303030;
  margin-left: calc(40%);
}
.chartButton {
  position: relative;
  cursor: pointer;
  margin-right: -100px; /* Ensuring some space on the right if needed */
  padding-bottom: 9px;
  transform: translateY(-10px);
  z-index: 10;
  padding-left: 20px;
}
.chartButton a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: #fff; /* Button background to blue */
  border-radius: 5px;
  text-transform: uppercase; /* Keeping the style consistent with navbar */
}
.chartButton:hover {
  padding-left: 20px;
}
.chartButton .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f0f0f0;
  border-top: 4px solid #68b42b;
  border-left: 4px solid #68b42b;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  min-width: 160px; /* Match the width or exceed the button's width */
}
.chartButton:hover .dropdown {
  display: block;
}
.dropdown a {
  color: black;
  padding: 1px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #e7e7e7;
}
.dropdown a:last-child {
  border-bottom: none;
}
.dropdown a:hover {
  background-color: #68b42b;
  color: white;
}

/* BOTTOM NAV */


.bottomNav {
  position: fixed; /* Stick to the bottom of the viewport */
  left: 0;
  right: 0;
  bottom: 0; /* Align to the bottom of the viewport */
  height: 15px; /* Adjust height as necessary */
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.8)), url('/pathex.avif');
  background-size: 2%;
  color: #89cff0;
  text-align: center;
  padding: 10px 0;
  display: flex; /* Use flexbox to center content horizontally */
  align-items: center; /* Center content vertically */
  justify-content: center;
  left: 500px;
  z-index: 10;
  border-top: 5px solid #89cff0;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .75em;
}
.bottomnavlogo {
  padding-left: 20px;
  padding-top: 5px;
  width: 25px; /* Specify width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image is scaled correctly */
}



/* SIDENAV CONTENT */


.sideNav{
  height: calc(100vh - 100px);
  top: 140px;
  position: fixed; /* Fixed position to keep it in place */
  width: 400px;
  left: 0;
  background: linear-gradient(#68b42b, #ddd);
  display: flex;
  flex-direction: column;
  overflow-y: hidden; 
  z-index: 30; /* Ensure it's above other content */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/pathex.avif');
  background-size: 10%;
  border-radius: 2%;
  border: 1px solid white;
  box-shadow: 0px 10px 20px rgba(0,0,0, 30);
}
.sideNav h3 {
  color: #fff;
  text-align: center;
  border: 5px solid white;
  display: block;
  padding: 0px 10px;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  width: 95%;
  box-shadow: 0 1.5px 1.5px rgba(255, 255, 255, .7);
  margin-left: 10px; /* Pushes the h3 to the right */
}
.table{
  color: #000;
  left: 10px;
  width: 95%;
  position: relative;
  right: 10px;
  text-align: center;
  padding-top: 0px;
  margin-top: 0;
  background-color: transparent;
  border-collapse: collapse; 
  border-spacing: 0;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: -500px; /* Moves table up and down */
  
}
.table th, .table td {
  border-radius: 30px;
  color: #000;
  text-align: center;
  border-color:  rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0, 1);
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table tr{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, .7);
}
.table th {
  background-color: transparent;
  font-family: 'VTFRedzone-Classic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.atSymbol {
  flex: none; /* Prevents '@' from stretching */
  padding: 0 20px;
  font-size: 20px; /* Increases font size for visibility */
}
.total {
  font-size: 0.75rem;
  box-shadow: 0 1px 2px rgba(0,0,0, 1);
  padding: 3px;
  border-radius: 10px;
  color: black;
}
.matchupRow {
  background-color: transparent; /* White background for the whole row */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0,0,0, 1); /* Shadow for 3D effect */
  margin: 20px 0; /* Margin between each row */
  display: flex; /* Use flexbox to manage layout of cells */
  justify-content: space-around; /* Distribute space around cells */
  align-items: center; /* Align items vertically in the center */
  padding: 10px; /* Padding inside each row */
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto
}
.user h3{
  font-size: 15px;
  white-space: nowrap;
}
.user-img{
  width: 100px;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
}
.sideNav .nextButton {
  display: none; /* Initially hidden */
  position: absolute;
  top: 5%; /* Adjust to center vertically relative to the parent */
  left: 90%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Perfect center alignment */
  background-color: transparent; /* Transparent background */
  border: 1px solid white; /* Visible border with a light blue color */
  color: #fff; /* White text color */
  padding: 5px 5px; /* Padding for better touch area and visibility */
  border-radius: 30px;
  cursor: pointer; /* Cursor indicates clickable item */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Shadow for depth */
  z-index: 10;
}
.sideNav:hover .nextButton {
  display: block; /* Show when sideNav is hovered */
}
.sideNav .nextButton:hover {
  border-color: #68b42b; /* Change border color to white on hover */
  box-shadow: 0 6px 12px rgba(0,0,0,0.75); /* Intensify the shadow for a raised effect */
}
.leaguelogo{
  margin-left: 140px;
  margin-top: 5px;
}
.leaguelogo2{
  margin-left: 165px;
  margin-top: 5px;
}




/* TABLE CONTENT*/

.table2{
  width: calc(100% - 20px);
  position: relative; /* Keep the table in the normal document flow */
  top: auto; /* Default to auto */
  border-collapse: collapse;
  background-size: 3%;
  color: #fff;
  text-align: center;
  padding-right: 10px;
  margin-top: 0; /* Dynamically set in your component */
  z-index: 1;
  overflow-x: hidden; 
  border-radius: 2%;
  margin-right: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('/pathex.avif');
}
.table2 tbody tr:nth-child(odd) {
  background-color: #484848; /* Color for odd rows */
}

.table2 tbody tr:nth-child(even) {
  background-color: #303030; /* Color for even rows */
}

/* Table header styles */
table.table2 thead th {
    font-size: 1.25em; /* Double the size, you may adjust as necessary */
    text-align: center;
}

/* Table body styles */
table.table2 tbody td {
    font-size: 1.1em; /* Half the size of the header, adjust as necessary */
    text-align: center;
    overflow: hidden;
}
/* Table span styles */
.table2 span {
  text-align: center;
  overflow: hidden;
  gap: 2px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0px 10px 20px rgba(0,0,0, 30);
  width: auto;
  border: 1px solid #68b42b;
}
.atSymbol2 {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0,0,0, 1); /* Shadow for 3D effect */
}
.matchupRow2 {
  background-color: transparent; /* White background for the whole row */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0,0,0, 1); /* Shadow for 3D effect */
  margin: 20px 0; /* Margin between each row */
  display: flex; /* Use flexbox to manage layout of cells */
  justify-content: space-around; /* Distribute space around cells */
  align-items: center; /* Align items vertically in the center */
  padding: 5px; /* Padding inside each row */
  width: 97.5%;
  margin-left: 10px;
  border: 1px solid #68b42b;
  text-align: center;
}
.matchupRow3 {
  background-color: transparent; /* White background for the whole row */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0,0,0, 1); /* Shadow for 3D effect */
  margin: 20px 0; /* Margin between each row */
  display: flex; /* Use flexbox to manage layout of cells */
  justify-content: space-around; /* Distribute space around cells */
  align-items: center; /* Align items vertically in the center */
  padding: 5px; /* Padding inside each row */
  width: 97.5%;
  margin-left: 10px;
  border: 1px solid #68b42b;
  text-align: center;
}
.header{
  background-color: transparent; /* White background for the whole row */
  border-radius: 25%; /* Rounded corners for the box */
  box-shadow: 0 2px 3px rgba(0,0,0, 1); /* Shadow for 3D effect */
  padding: 5px; /* Padding inside each row */
  height: 80px;
  width: 130px;
  border-bottom: 3px solid black;
  align-items: center;
  text-align: center;
  font-size: .75em;
}
.value{
  margin-top: -20px;
  font-size: 3em;
}



/* Add left border to each table cell for column separation */
table.table2 th, table.table2 td {
    border-left: 0px solid #89cff0;
}

/* Remove left border from the first cell in the header and body to avoid double lines */
table.table2 th:first-child, table.table2 td:first-child {
    border-left: 0px solid #89cff0;
}

/* Add right border to the last cell in the header and body for the last column */
table.table2 th:last-child, table.table2 td:last-child {
    padding: 1%;
}
/* Conditional coloring for table cells */
.table2 .positive-difference {
  background-color: green;
  color: white; /* Adjust text color for visibility on the green background */
  border-radius: 5%;
}
.table2 .negative-difference {
  background-color: red;
  color: white; /* Adjust text color for visibility on the red background */
  border-radius: 5%;
}
/* Tooltip container (common styles) */
#ptip, #ttip, #dtip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
/* Tooltip container (common styles) */
.tip {
    position: relative;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tip::after {
    content: attr(data-tooltip); /* Use a custom attribute for tooltip text */
    visibility: hidden;
    width: 200px;
    background-color: #68b42b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 0.5em;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Fade-in effect */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }
  .subscribeButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this as needed */
  }
  /* CSS for blurring and showing the subscription message */
.blurOverlay {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
  font-size: 20px;
  text-align: center;
  height: 100%; /* Adjust based on your needs */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table2 tbody tr:not(:first-child) {
  filter: blur(0px);
}
.tip:hover::after {
    visibility: visible;
    opacity: 1;
}




/* DYNAMIC SPACING CONTENT*/



/* ADJUSTED SCREEN SIZE */

/* Small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {

  .container {
    display: flex;
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align items */
    overflow-y: hidden;
  }

  .navbar{
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('/blank.png');
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
    justify-content: center; /* Center items in the navbar */
    flex-grow: 1; /* Allow ul to grow and take available space */
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    font-size: 2.2em;
    padding: 15px 17px; /* Adjust padding for smaller buttons */
  }
  .logo {
    padding-right: calc(20px);
    padding-left: calc(5px);
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  .odds{
    margin-right: 0px;
  }
  .logor {
    display: fixed;
    padding-left: 20px;
    margin-bottom: 35px;
    height: 80px;
    width: 90px;
    margin-right: 0px;
  }
  .odds h4{
    padding-left: 20px;
    font-size: 10px;
    margin-left: 15px;
  }




  /* MAIN */

  .banner {
    height: 300vh;
    top: 100px;
    margin-left: -400px;
    width: 100%; /* Ensure it takes full width */
    overflow: hidden; /* Hide overflow to prevent stretching */
    box-sizing: border-box; /* Include padding in width and height */
    background-size: 120%;
    overflow: visible;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 1)), url('/blank.png');
  }
  .content {
    margin-left: 0px;
    width: 90%; /* Full width */
    padding: 20px; /* Add padding for better layout */
    overflow: visible;
  }

  .table2 {
    display: block; /* Ensure it is displayed */
    width: calc(215%); /* Ensure it is 100% wide */
    background-color: #fff; /* Background color for visibility */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    background-size: 5%;
    right: calc(420px);
  }

  .table2 span {
    padding: 10px;
    width: 400px;
    font-size: 1.5em;
    margin-left: 20px;
  }

  /* Table header styles */
  table.table2 thead th {
    font-size: 1.3em; /* Adjust as necessary */
    text-align: center;
    padding: 20px;
  }

  /* Table body styles */
  table.table2 tbody td {
    font-size: 1em; /* Adjust as necessary */
    text-align: center;
  }
  .matchupRow2 {
    margin: 10px 7px; /* Margin between each row */
    padding: 10px; /* Padding inside each row */
    width: calc(93%);
    margin-left: calc(10px);
  }
  .matchupRow3 {
    width: calc(50%);
    margin-left: calc(140px);
    font-size: 1.5em;
    padding-left: calc(50px);
    padding-right: calc(50px);
    height: 100px;
  }
  .header {
    padding: 2px; /* Padding inside each row */
    height: 100px;
    width: calc(115px); /* Full width */
    margin: 7px;
    font-size: .52em;
    margin-left: 15px;
  }

  .headerContainer h1 {
    margin-top: 150px;
    margin-left: calc(-90%); /* Reset left margin */
    width: 130%;
    font-size: 2.5em;
    z-index: 2;
    padding: 10px;
    
  }

  .results {
    margin-left: 0; /* Reset left margin */
    font-size: 1.3em;   
    margin-left: calc(-65%); /* Reset left margin */
    width: 100%;
  }
.chartButton{
  top: 100px;
  left: -100px;
}
.table2 th{
  font-size: .2em;
}
.tabletext{
  display: none;
}
.value{
  margin-top: -10px;
  font-size: 4cqb;
}

  
  /* SIDENAV */

  .sideNav {
    width: 100%;
    height: 100px;
    order: 1; /* Display below navbar */
    flex-direction: row; /* Horizontal layout */
    justify-content: space-around; /* Space items evenly */
    overflow-x: auto; /* Allow horizontal scrolling */
    margin-top: -5px;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('/blank.png');
  }

  .navlogo {
    height: 60px;
    width: 60px;
    align-items: row;
    padding: 5px;
  }

  .sideNav h3 {
    display: none;
  }

  .atSymbol {
    flex: none; /* Prevents '@' from stretching */
    padding: 0 2px;
    font-size: 10px; /* Increases font size for visibility */
  }

  .table {
    width: 25%;
    margin-top: 10; /* Moves table up and down */
    overflow-x: hidden; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping of items */
    width: auto; /* Width auto to contain all children */
  }

  .total {
    font-size: 1.2em;
  }

  .matchupRow {
    margin: 5px 2px; /* Margin between each row */
    display: inline-flex; /* Use flexbox to manage layout of cells */
    padding: 7.5px; /* Padding inside each row */
    height: 50px;
    margin-top: 37.5px;
  }

  .leaguelogo {
    display: none;
  }

  .leaguelogo2 {
    margin-left: calc(375px);
    padding-right: 500px;
    height: 20px;
    width: 20px;
  }

  .secondSideNav {
    display: none;
  }

  .bottomNav {
    width: 100%;
    order: 8; /* Display at the bottom */
    flex-direction: row;
  }
}









/* 400PX-420 */





/* Small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) and (max-width: 420px) {

  .container {
    display: flex;
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align items */
    overflow-y: hidden;
  }

  .navbar{
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('/blank.png');
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
    justify-content: center; /* Center items in the navbar */
    flex-grow: 1; /* Allow ul to grow and take available space */
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    font-size: 2.3em;
    padding: 15px 17.5px; /* Adjust padding for smaller buttons */
  }
  .logo {
    padding-right: calc(20px);
    padding-left: calc(5px);
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  .odds{
    margin-right: 0px;
  }
  .logor {
    display: fixed;
    padding-left: 20px;
    margin-bottom: 35px;
    height: 80px;
    width: 90px;
    margin-right: 0px;
  }
  .odds h4{
    padding-left: 20px;
    font-size: 10px;
    margin-left: 15px;
  }
  .tabletext{
    display: none;
  }



  /* MAIN */

  .banner {
    height: 300vh;
    top: 110px;
    margin-left: -400px;
    width: 100%; /* Ensure it takes full width */
    overflow: hidden; /* Hide overflow to prevent stretching */
    box-sizing: border-box; /* Include padding in width and height */
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 1)), url('/blank.png');
    overflow: visible;
  }
  .content {
    margin-left: 0px;
    width: 85%; /* Full width */
    padding: 20px; /* Add padding for better layout */
    overflow: visible;
  }

  .table2 {
    display: block; /* Ensure it is displayed */
    width: calc(225%); /* Ensure it is 100% wide */
    background-color: #fff; /* Background color for visibility */ /* Padding for better layout */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url('/blank.png');
    right: calc(440px);
  }

  .table2 span {
    padding: 10px;
    width: 400px;
    font-size: 1.5em;
    margin-left: 30px;
  }

  /* Table header styles */
  table.table2 thead th {
    font-size: 1.3em; /* Adjust as necessary */
    text-align: center;
    padding: 20px;
  }

  /* Table body styles */
  table.table2 tbody td {
    font-size: 1em; /* Adjust as necessary */
    text-align: center;
  }
  .matchupRow2 {
    margin: 10px 7px; /* Margin between each row */
    padding: 15px; /* Padding inside each row */
    margin-left: calc(22px);
  }
  .matchupRow3 {
    width: calc(50%);
    margin-left: calc(150px);
    font-size: 1.5em;
    padding-left: calc(50px);
    padding-right: calc(50px);
    height: 100px;
  }
  .header {
    padding: 6px; /* Padding inside each row */
    height: 100px;
    width: calc(115px); /* Full width */
    margin: 10px;
    font-size: .5em;
  }
  .table2 tbody tr:nth-child(even) {
    background-color: #303030;
    width: 90%; /* Color for even rows */
  }
  .headerContainer h1 {
    margin-top: 150px;
    margin-left: calc(-90%); /* Reset left margin */
    width: 130%;
    font-size: 2.5em;
    z-index: 2;
    padding: 10px;
    
  }

  .results {
    margin-left: 0; /* Reset left margin */
    font-size: 1.3em;   
    margin-left: calc(-65%); /* Reset left margin */
    width: 100%;
  }
  .chartButton{
    top: 100px;
    left: -100px;
  }
.table2 th{
  font-size: .25em;
}

.tabletext{
  display: none;
}
.value{
  margin-top: -10px;
  font-size: 4em;
}
  
  /* SIDENAV */

  .sideNav {
    width: 100%;
    height: 100px;
    order: 1; /* Display below navbar */
    flex-direction: row; /* Horizontal layout */
    justify-content: space-around; /* Space items evenly */
    overflow-x: auto; /* Allow horizontal scrolling */
    margin-top: -5px;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('/blank.png');
  }

  .navlogo {
    height: 60px;
    width: 60px;
    align-items: row;
    padding: 5px;
  }

  .sideNav h3 {
    display: none;
  }

  .atSymbol {
    flex: none; /* Prevents '@' from stretching */
    padding: 0 2px;
    font-size: 10px; /* Increases font size for visibility */
  }

  .table {
    width: 25%;
    margin-top: 10; /* Moves table up and down */
    overflow-x: hidden; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping of items */
    width: auto; /* Width auto to contain all children */
  }

  .total {
    font-size: 1.2em;
  }

  .matchupRow {
    margin: 5px 2px; /* Margin between each row */
    display: inline-flex; /* Use flexbox to manage layout of cells */
    padding: 7.5px; /* Padding inside each row */
    height: 50px;
    margin-top: 37.5px;
  }

  .leaguelogo {
    display: none;
  }

  .leaguelogo2 {
    margin-left: calc(375px);
    padding-right: 500px;
    height: 20px;
    width: 20px;
  }

  .secondSideNav {
    display: none;
  }

  .bottomNav {
    width: 100%;
    order: 8; /* Display at the bottom */
    flex-direction: row;
  }
}




/* Small devices (phones, 600px and down) */
@media only screen and (min-width: 420px) and (max-width: 600px) {

  .container {
    display: flex;
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align items */
    overflow-y: hidden;
  }

  .navbar{
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('/blank.png');
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
    justify-content: center; /* Center items in the navbar */
    flex-grow: 1; /* Allow ul to grow and take available space */
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    font-size: 2.3em;
    padding: 15px 17.5px; /* Adjust padding for smaller buttons */
  }
  .logo {
    padding-right: calc(20px);
    padding-left: calc(5px);
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  .odds{
    margin-right: 0px;
  }
  .logor {
    display: fixed;
    padding-left: 20px;
    margin-bottom: 35px;
    height: 80px;
    width: 90px;
    margin-right: 0px;
  }
  .odds h4{
    padding-left: 20px;
    font-size: 10px;
    margin-left: 15px;
  }


  /* MAIN */

  .banner {
    height: 300vh;
    top: 110px;
    margin-left: -400px;
    width: 100%; /* Ensure it takes full width */
    overflow: hidden; /* Hide overflow to prevent stretching */
    box-sizing: border-box; /* Include padding in width and height */
    overflow: visible;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 1)), url('/blank.png');
  }
  .content {
    margin-left: 0px;
    width: 80%; /* Full width */
    padding: 20px; /* Add padding for better layout */
    overflow: visible;
  }

  .table2 {
    display: block; /* Ensure it is displayed */
    width: calc(230%); /* Ensure it is 100% wide */
    background-color: #fff; /* Background color for visibility */ /* Padding for better layout */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    right: calc(450px);
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url('/blank.png');
  }

  .table2 span {
    padding: 20px;
    width: 420px;
    font-size: 1.5em;
    margin-left: 40px;
  }

  /* Table header styles */
  table.table2 thead th {
    font-size: 1.3em; /* Adjust as necessary */
    text-align: center;
    padding: 20px;
  }

  /* Table body styles */
  table.table2 tbody td {
    font-size: 1em; /* Adjust as necessary */
    text-align: center;
  }
  .matchupRow2 {
    margin: 10px 7px; /* Margin between each row */
    padding: 15px; /* Padding inside each row */
    width: calc(100%);
    margin-left: 10px;
  }
  .matchupRow3 {
    margin-left: calc(37px);
    font-size: 1.5em;
    padding-left: calc(35px);
    padding-right: calc(35px);
    height: 100px;
  }
  .header {
    padding: 8px; /* Padding inside each row */
    height: 100px;
    width: calc(115px); /* Full width */
    margin: 8px;
    font-size: .7em;
  }
  .headerContainer h1 {
    margin-top: 150px;
    margin-left: calc(-90%); /* Reset left margin */
    width: 130%;
    font-size: 2.5em;
    z-index: 2;
    padding: 10px;
    
  }

  .results {
    margin-left: 0; /* Reset left margin */
    font-size: 1.3em;   
    margin-left: calc(-65%); /* Reset left margin */
    width: 100%;
  }
  .chartButton{
    top: 100px;
    left: -100px;
  }
.table2 th{
  font-size: .25em;
}
.table2 tbody tr:nth-child(odd) {
  background-color: #484848;
  width: 100%; /* Color for odd rows */
}

.table2 tbody tr:nth-child(even) {
  background-color: #303030;
  width: calc(93%); /* Color for even rows */
}
.tabletext{
  display: none;
}
.value{
  margin-top: -10px;
  font-size: 4em;
}

  
  /* SIDENAV */

  .sideNav {
    width: 100%;
    height: 100px;
    order: 1; /* Display below navbar */
    flex-direction: row; /* Horizontal layout */
    justify-content: space-around; /* Space items evenly */
    overflow-x: auto; /* Allow horizontal scrolling */
    margin-top: -5px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('/blank.png');
  }

  .navlogo {
    height: 60px;
    width: 60px;
    align-items: row;
    padding: 5px;
  }

  .sideNav h3 {
    display: none;
  }

  .atSymbol {
    flex: none; /* Prevents '@' from stretching */
    padding: 0 2px;
    font-size: 10px; /* Increases font size for visibility */
  }

  .table {
    width: 25%;
    margin-top: 10; /* Moves table up and down */
    overflow-x: hidden; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping of items */
    width: auto; /* Width auto to contain all children */
  }

  .total {
    font-size: 1.2em;
  }

  .matchupRow {
    margin: 5px 2px; /* Margin between each row */
    display: inline-flex; /* Use flexbox to manage layout of cells */
    padding: 7.5px; /* Padding inside each row */
    height: 50px;
    margin-top: 37.5px;
  }

  .leaguelogo {
    display: none;
  }

  .leaguelogo2 {
    margin-left: calc(375px);
    padding-right: 500px;
    height: 20px;
    width: 20px;
  }
  .secondSideNav {
    display: none;
  }

  .bottomNav {
    width: 100%;
    order: 8; /* Display at the bottom */
    flex-direction: row;
  }
}